<style>

    .Criacao {
        background-color: white;
        padding: 50px;
        border-radius: 10px;
        border: solid;
        border-style: solid;
        border-color: #094a90;
    }

    .listBack {
        padding-bottom: 40px;
        padding-top: 30px;
    }
</style>

<div class="Criacao">

    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 my-5">Ocorreu um erro na página. Por favor, clique em voltar.</h1>
            <div class="listBack">
                <a href="@Url.Action("Index", "Repositorio")" class="btn btn-dark btn-large"><i class="fa fa-list"></i><span> Voltar para a lista</span></a>
            </div>
        </div>
    </div>

</div>